<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue list render</title>
	<style>
		
	</style>
</head>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<body>
	<div id="demo">
		<h3>v-for</h3>
		<ul>
		  <li v-for="(item, index) in topList">
		    {{index + 1}} &nbsp; : &nbsp;{{ item.message }}
		  </li>
		  <!-- of 替换 in ; 使用key,可以高效复用渲染-->
		  <li v-for="(item, index) of topList" :key="item.id">
		    {{index + 1}} &nbsp; : &nbsp;{{ item.message }}
		  </li>
		  <!-- object: Object.keys()遍历 -->
		  <li v-for=" (item, key) of topObj">
		    {{key}}&nbsp;:&nbsp;{{item}}
		  </li>
		  <li v-for="n in evenNumbers">{{ n }}</li>
		  <li v-for="n in even(numbers)">{{ n }}</li>
		</ul>
		<!-- v-for 也可以取整数 -->
		<div>
		  <span v-for="n in 10">{{ n }} </span>
		</div>
		<!-- v-for on a <template> -->
		<ul>
		  <template v-for="item in topList">
		    <li>{{ item.message }}</li>
		    <li class="divider"></li>
		  </template>
		</ul>
		<!-- v-for with v-if -->
		<ul v-if="topList.length">
		  <li v-for="todo in topList">
		    {{ todo.message }}
		  </li>
		</ul>
	</div>
	<!-- 组件使用 -->
	<!-- 注意这里的 is="todo-item" 属性。这种做法在使用 DOM 模板时是十分必要的，
	因为在 <ul> 元素内只有 <li> 元素会被看作有效内容。
		这样做实现的效果与 <todo-item> 相同，但是可以避开一些潜在的浏览器解析错误 -->
	<div id="todo-list-example">
	  <input
	    v-model="newTodoText"
	    v-on:keyup.enter="addNewTodo"
	    placeholder="Add a todo"
	  >
	  <ul>
	    <li
	      is="todo-item"
	      v-for="(todo, index) in todos"
	      v-bind:key="todo.id"
	      v-bind:title="todo.title"
	      v-on:remove="todos.splice(index, 1)"
	    ></li>
	  </ul>
	</div>
</body>
<script>
	var vDemo = new Vue({
		el: '#demo',
		data: {
			topList: [
				{ id: 1, message: 'Foo' },
      	{ id:2, message: 'Bar' }
			],
			topObj: {
				name: 'naruto',
				age: 24
			},
			numbers: [ 1, 2, 3, 4, 5 ]
		},
		computed: {
		  evenNumbers: function () {
		    return this.numbers.filter(function (number) {
		      return number % 2 === 0
		    })
		  }
		},
		methods: {
		  even: function (numbers) {
		    return numbers.filter(function (number) {
		      return number % 2 === 0
		    })
		  }
		}
	});

	Vue.set(vDemo.topObj, 'age', 27);

	Vue.component('todo-item', {
	  template: '\
	    <li>\
	      {{ title }}\
	      <button v-on:click="$emit(\'remove\')">X</button>\
	    </li>\
	  ',
	  props: ['title']
	});

	new Vue({
	  el: '#todo-list-example',
	  data: {
	    newTodoText: '',
	    todos: [
	      {
	        id: 1,
	        title: 'Do the dishes',
	      },
	      {
	        id: 2,
	        title: 'Take out the trash',
	      },
	      {
	        id: 3,
	        title: 'Mow the lawn'
	      }
	    ],
	    nextTodoId: 4
	  },
	  methods: {
	    addNewTodo: function () {
	      this.todos.push({
	        id: this.nextTodoId++,
	        title: this.newTodoText
	      })
	      this.newTodoText = ''
	    }
	  }
	});


</script>
</html>