<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- import stylesheet -->
	<link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css">
  
  <!-- Scripts -->
  <script src="http://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	
	 <!-- import iView -->
	 <script src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
  <div id="demo">
      <i-form :model="formData" :rules="formRule" ref='form'>
        <form-item prop="userName">
          <i-input type="text" v-model="formData.userName" placeholder="UserName">
            <Icon type="ios-person-outline" slot="prepend"></Icon>
          </i-input>
        </form-item>
        <form-item prop="password">
          <i-input type="password" v-model="formData.password" placeholder="Password">
            <Icon type="ios-locked-outline" slot="prepend"></Icon>
          </i-input>
        </form-item>
        <form-item class='t-center'>
          <i-button type="primary" html-type='submit' :loading="loading"  @click="handleSubmit('form')" long>登录</i-button>
        </form-item>
    </i-form>
  </div>
</body>
<script>
  var app = new Vue({
    el: "#demo",
    data: function() {
      return {
        loading: false,
        formData: {
          userName: '',
          password: ''
        },
        formRule: {
          userName: [
            { required: true, message: '请填写用户名', trigger: 'blur' }
          ],
          password: [
            { required: true, message: '请填写密码', trigger: 'blur' },
            { type: 'string', min: 6, message: '密码不少于6位', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleSubmit(name) { 
        this.$refs[name].validate((valid) => {
          if (valid) {
            const {userName, password} = this.formData;
            new Promise((resolve, reject) => {

              if(userName == 'admin' || password == 'admin123') {
                resolve(this.formData);
              }
              else {
                const err = '用户名或密码错误！';
                reject(err);
              }
            }).then((data) => {
              this.loading = true;
              setTimeout(() => {
                this.loading = false;
                this.$Message.error(err || 'Fail!');
              }, 1000);
            }).catch((err) => {
              this.$Message.error(err || 'Fail!');
            });

          } else {
            this.$Message.error('Fail!');
          }
        });
      }
    }
  })
</script>
</html>