<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue if</title>
  <style>

  </style>
</head>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<body>
  <div>
    <div id="app">
      <p>
        <label><input type="radio" v-model="isShow" value="0">0</label>        
        <label><input type="radio" v-model="isShow" value="1">1</label>        
        <label><input type="radio" v-model="isShow" value="2">other</label>        
      </p>
      <!-- v-if 销毁和重建。 -->
      <p v-if='isShow == "0"'>you can see 0 ?</p>
      <p v-else-if='isShow == "1"'>you can see 1 ?</p>
      <p v-else>you can see other ?</p>
      <!-- v-show 不支持 <template> 元素，也不支持 v-else。 -->
      <p v-show='isShow == 1'>you can see 1 in v-show ?</p>
    </div>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      isShow: "0"
    }
  });
  /**
   * 用在具有相同元素下的模板下
   * 
<template v-if="loginType === 'username'">
  <label>Username</label>
  <input placeholder="Enter your username">
</template>
<template v-else>
  <label>Email</label>
  <input placeholder="Enter your email address">
</template>
*
* 元素加入不同key , 将会不进行复用，而是重新渲染
   */
</script>
</html>